{% extends 'layout.html' %}

{% block content %}

    <h1>Add Advertisment</h1>
    <a class="btn btn-success" href="{{url_for('sponsor')}}">Dashboard</a>

    <hr>
    <form action="{{ url_for('add_advertisment_post', campaign_id=campaign.id) }}" method="post">
        <label class="form-label" for="category">Campaign ID:</label>
        <input class="form-control" type="number" name="category" id="category" 
          value="{{campaign.id}}" disabled>

        <label class="form-label" for="name">Advertisment Name:</label>
        <input class="form-control" type="text" name="name" id="name"
        maxlength="15">

        <label class="form-label" for="description">Advertisment Description:</label>
        <textarea name="description" id="description" cols="2" rows="2" maxlength="100" class="form-control"
        ></textarea>
        <br>
        <label for="budget" class="form-label">Budget:
            <input type="number" class="form-control" name="budget" id="budget">
        </label>
        <br>
        <label for="start-date">Start Date:
        <input type="date" id="start-date" name="start-date"  required>
        </label>
        <br><br>
        <label for="end-date">End Date:
        <input type="date" id="end-date" name="end-date"  required>
    </label>
    <br><br>



        <button type="submit" class="btn btn-success">
            Create
        </button>
    </form>
    
{% endblock %}