{% extends 'layout.html' %}

{% block content %}

    <h1>Edit Advertisment {{advertisment.name}} </h1>
    <a class="btn btn-success" href="{{url_for('sponsor')}}">Dashboard</a>

    <hr>
    <form action="" method="post">
        <label class="form-label" for="name">Advertisment Name:</label>
        <input class="form-control" type="text" name="name" id="name"
        maxlength="15" value="{{advertisment.name}}"/>

        <label class="form-label" for="description">Advertisment Description:</label>
        <textarea name="description" id="description" cols="5" rows="5" maxlength="100" class="form-control"
        >{{advertisment.description}}</textarea>
        <br>
        <label for="budget" class="form-label">Budget:
            <input type="number" class="form-control" name="budget" id="budget" value="{{advertisment.budget}}">
        </label><br>
        <label for="start-date">Start Date:
            <input type="date" id="start-date" name="start-date" value="{{advertisment.start_date}}" >
            </label>
            <br><br>
            <label for="end-date">End Date:
            <input type="date" id="end-date" name="end-date" value="{{advertisment.end_date}}" >
        </label>
        <br><br>
        
        <button type="submit" class="btn btn-success">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
        </button>
    </form>
    
   
{% endblock %}
